{% extends 'layout.html' %}
{%  block content %}
    <h1 style="text-align: center">Welcome to Skipster!</h1>
{# Carousel: Show features that attract different types of users
    Hosts: Business Owners and Party Starters,
    Skipster allows you to get feedback from
    your listeners and making sure your playlist
    is always booming with today's top tracks

    Standard User (swiper): Get a say with what you listen to
    when you're hanging out!

    Employees/bartenders : You no longer have to watch for whats playing
    just turn on skipster and let the people choose for you #}
{% endblock content %}