{% extends "layout.html" %}
{% block style %}
    <link rel="stylesheet" href="/static/css/add_tracks.css" >
{% endblock style%}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 id="playlist" data-id={{ playlist.id }} data-uri={{ playlist.uri }}>Add Tracks to <span style="color:red">{{playlist.name}}</span></h2>
                <span><input id="search_bar" type="text" placeholder="Search.."><button id="search_button">Search</button></span>
                <ul id="track_list"></ul>
            </div>
            <div class="col-md-6">
                <ul id="current_tracks">
                    {% for track in playlist.tracks %}
                    <li data-uri="{{ track.uri }}" data-name="{{ track.name }}"> <img src="{{ track.artwork}}">
                        {{ track.name }} by {{ track.artist }}
                    <button class="remove">Remove</button>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
